### Folders
db
incremental_db
simulation
greybox_tmp
*.qsys_edit

### File Types
*.bsf
*.log
*.stp
*.qws
*.rpt
_OUTPUT_FILES/*
!_OUTPUT_FILES/*.cof

### Files
c5_pin_model_dump.txt
hps_sdram_p0_summary.csv
HPS.sopcinfo